@import "tailwindcss";



@theme {
  --color-background: #FDFDFB;  
  --color-foreground: #3D453A; 
  
  --color-primary: #A2E4B8;    
  --color-primary-foreground: #3D453A;

  --color-secondary: #FADBC5;
  --color-secondary-foreground: #3D453A;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius: 0.75rem;
}

html {
  color-scheme: light !important;
  forced-color-adjust: none !important;
}